<!DOCTYPE html>
{% load static %}
{% load artinox_spb_tags%}
{% load active_link_tags %}
{%get_page_info as page_info%}
<html lang="en">
{%block head%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/artinox_spb/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/artinox_spb/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/artinox_spb/css/media.css' %}">
    {% with request.resolver_match.url_name as url_name %}
        {%for i in page_info%}
            {% if url_name == i.page_name %}
                <title>
                    {{i.title}}
                </title>
            {% endif %}
        {%endfor%}
    {% endwith %}
</head>
{%endblock%}
<body>

<!--Навигация-->
    {%block menu%}
    <menu class="menu">
        <nav class="nav__menu">
            {% with request.resolver_match.url_name as url_name %}
                {%for menu__item in menu%}
                    <a href="{{menu__item.url}}" class="{% if url_name == menu__item.url %}nav__item--active{% endif %} nav__item">{{menu__item.title}}</a>
                {%endfor%}
            {% endwith %}
        </nav>
    </menu>
{%endblock%}
{%block content%}

{%endblock%}

{%block footer%}
<footer class="footer">
    <p>&copy;Copyright @Junaed 2016, All rights reserved. Author - McClawdy</p>
    <div class="sprites"></div>
</footer>
{%endblock%}