<!DOCTYPE html>
{% load static %}
<html lang="en">
{%block head%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/artinox_spb/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/artinox_spb/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/artinox_spb/css/media.css' %}">
    <title>{{title}}</title>
</head>
<body>
{%endblock%}
<!--Навигация-->
	{%block menu%}
    <menu class="menu">
        <nav class="nav__menu">
            {%for menu__item in menu%}
                <a href="{{menu__item.url}}" class="nav__item">{{menu__item.title}}</a>
            {%endfor%}
        </nav>
    </menu>
{%endblock%}
</body>
</html>