<!DOCTYPE html>
<html lang="en">
{%extends 'artinox_spb/base.html'%}
<body>
{%block content%}
<section>
	<h2>тут какая то информация будет</h2>
	<p>и тут тоже</p>
</section>
<section class="portfolio__main">
	<section class="portfolio__main__categories">
		<!-- {%for i in portfolio__categories%}
			<div class="portfolio__categories--category">i</div>
		{%endfor%} -->
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>
		<div class="portfolio__main__categories--category">i</div>



	</section>
	<section class="portfolio__main__content">
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>
		<div class="portfolio__main__content--img">i</div>

	</section>	
</section>
{%endblock%}	
</body>
</html>
